 # /etc/systemd/system/screenshot-bot.service
 #
 # place this file in /etc/systemd/system/
 # 
 # sudo cp screenshot-bot.service /etc/systemd/system/screenshot-bot.service
 #
[Unit]
Description=screenshot-bot

[Service]
ExecStart=/usr/bin/node /home/ubuntu/screenshot-service/dedicated-server/server.js
Restart=always
RestartSec=10                       # Restart service after 10 seconds if node service crashes
StandardOutput=syslog               # Output to syslog
StandardError=syslog                # Output to syslog
SyslogIdentifier=screenshot-bot
User=ubuntu
#Group=<alternate group>
Environment=DISPLAY=:99


[Install]
WantedBy=multi-user.target